.menu {
  width: 0px;
  height: 100%;
  position: absolute;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 0;
  right: 0;
}
.menu.show {
  width: 50%;
  position: fixed;
  z-index: 10;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 1em;
}
.closeIcon {
  display: block;
  cursor: pointer;
  transition: ease-in-out 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.closeIcon:hover {
  transition: ease-in-out 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(1.2);
}
@media (max-width: 900px) {
  .mobile-nav-wrapper {
    margin: 2em 0em 0em 0em;
  }
}
