.navLink {
  color: white;
  position: relative;
}

.menuIcon {
  display: none;
}

.navLinks-group {
  display: block;
}

@media (max-width: 900px) {
  .menuIcon {
    display: block;
  }

  .navLinks-group {
    display: none;
  }
  .navLinks-group.show {
    display: block;
  }
  .menu.navLink {
    display: block;
  }
  .menu.navLinks-group {
    display: block;
  }
}
